html { 
    height:100%;
}
body { 
    min-height:100%;
}
.borde{
	border-right: 5px solid;
}
.login {
		height: 100%;
		width: 100%;
		padding-left: 0px !important;
}
.container{
	margin-left: 0px !important;
	margin-right: 0px !important;
	max-width: 2000px !important;
}

.color-fondo {
	background-image: url("/assets/imagenes/fondo.jpg"); 
}